@import 'tailwindcss';

@theme {
  --category-button-notice-icon: url(/images/category-button/megaphone.svg);
  --category-button-event-icon: url(/images/category-button/star.svg);
  --color-jr-naver-yellow-200: #ffc82c;
  --text-button-title-size: 1.0625rem;
}

@layer components {
  .category-button-wrap {
    @apply grid grid-cols-[80px_1fr] grid-rows-[repeat(3,_3rem)] gap-y-4 max-w-[728px] mx-auto lg:grid-cols-[160px_1fr] lg:grid-rows-[56px] lg:gap-x-[10px] lg:py-1 lg:max-w-full xl:gap-x-5 xl:grid-cols-[290px_1fr];
    .category-event-button {
      @apply leading-12 col-span-full bg-jr-naver-yellow-200 text-white text-button-title-size;
    }
    .category-button {
      @apply font-sans-eb text-center rounded-xl;
    }
    .empty-background-border {
      @apply rounded-xl border-[#f3f4f7] border-[3px] bg-transparent;
    }
  }
}
