<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/src/main.js"></script>
    <title>home-banner</title>
  </head>
  <body>
    <h1 class="font-bold m-4">home-banner</h1>
    <section class="home-banners p-4 flex gap-4 flex-wrap">
      <article class="home-banner bg-banner-blue">
        <a
          href="https://m.jr.naver.com/song/juniversong"
          target="_blank"
          rel="noopener noreferrer"
          class="home-banner-link"
        >
          <img
            class="home-banner-img"
            src="/public/images/banner/home/blue.png"
            alt="쥬니버 동요 페이지로 이동"
        /></a>
      </article>

      <article class="home-banner bg-banner-pink">
        <a
          href="https://play.google.com/store/apps/details?id=air.com.nhncorp.jrapp"
          target="_blank"
          rel="noopener noreferrer"
          class="home-banner-link"
        >
          <img
            class="home-banner-img"
            src="/public/images/banner/home/pink.png"
            alt="쥬니버TV앱 다운로드 페이지로 이동"
        /></a>
      </article>

      <article class="home-banner bg-banner-yellow">
        <a
          href="https://m.jr.naver.com/playedu/jrlife"
          target="_blank"
          rel="noopener noreferrer"
          class="home-banner-link"
        >
          <img
            class="home-banner-img"
            src="/public/images/banner/home/yellow.png"
            alt="쥬니버 생활습관캠페인 페이지로 이동"
        /></a>
      </article>

      <article class="home-banner bg-banner-green">
        <a
          href="https://mkt.naver.com/p1/jrschool"
          target="_blank"
          rel="noopener noreferrer"
          class="home-banner-link"
        >
          <img
            class="home-banner-img"
            src="/public/images/banner/home/green.png"
            alt="쥬니버스쿨 다운로드 페이지로 이동"
        /></a>
      </article>
    </section>
  </body>
</html>
