<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/public/icons/jrnaver.webp" />
    <link
      rel="preload"
      as="font"
      href="/public/fonts/woff2/NanumSquareRoundB.woff2"
    />
    <link
      rel="preload"
      as="font"
      href="/public/fonts/woff2/NanumSquareRoundEB.woff2"
    />
    <link
      rel="preload"
      as="font"
      href="/public/fonts/woff2/NanumSquareRoundR.woff2"
    />
    <link
      rel="preload"
      as="font"
      href="/public/fonts/woff2/NanumSquareRoundL.woff2"
    />
    <link
      href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css"
      rel="stylesheet"
    />
    <script type="module" src="/src/main.js"></script>
    <title>쥬니어 네이버</title>
  </head>
  <body class="animation-body w-screen h-screen p-0 m-0">
    <div class="circle red scale fixed top-35 left-35 animate-tr-br-move"></div>
    <div class="circle red scale fixed top-35 left-70 animate-br-tr-move"></div>
    <div
      class="circle red scale fixed top-35 left-105 animate-tl-bl-move"
    ></div>
    <div
      class="circle red scale fixed top-35 left-140 animate-bl-tl-move"
    ></div>
    <div
      class="circle yellow scale fixed top-70 left-35 animate-br-bl-move"
    ></div>
    <div
      class="circle yellow scale fixed top-70 left-70 animate-bl-br-move"
    ></div>
    <div
      class="circle yellow scale fixed top-70 left-105 animate-tr-tl-move"
    ></div>
    <div
      class="circle yellow scale fixed top-70 left-140 animate-tl-tr-move"
    ></div>
    <div class="cloud skyblue fixed top-105 left-35 animate-r-move">
      <div class="left-of-cloud"></div>
      <div class="center-of-cloud"></div>
      <div class="right-of-cloud"></div>
      <div class="sun-behind-cloud"></div>
    </div>
    <div class="cloud blue fixed top-140 left-105 animate-l-move">
      <div class="left-of-cloud"></div>
      <div class="center-of-cloud"></div>
      <div class="right-of-cloud"></div>
      <div class="sun-behind-cloud"></div>
    </div>
    <div class="cloud gray fixed top-175 left-35 animate-l-move">
      <div class="left-of-cloud"></div>
      <div class="center-of-cloud"></div>
      <div class="right-of-cloud"></div>
    </div>
    <div
      class="note quarter red-note fixed top-105 left-140 animate-anticlockwise"
    >
      <div class="note-stem"></div>
      <div class="note-head"></div>
    </div>
    <div
      class="note eighth purple-note fixed top-105 left-175 animate-clockwise"
    >
      <div class="note-stem"></div>
      <div class="note-head"></div>
      <div class="note-flag"></div>
    </div>
    <div
      class="note two-eighth yellow-note fixed top-140 left-175 animate-anticlockwise"
    >
      <div class="note-stem"></div>
      <div class="note-head"></div>
      <div class="note-flag"></div>
      <div class="note-stem side-note"></div>
      <div class="note-head side-note"></div>
    </div>
    <div
      class="book label-book green-book small-book fixed top-175 left-175 animate-anticlockwise"
    >
      <div class="innerbook">
        <div class="book-bar"></div>
        <div class="book-label"></div>
      </div>
    </div>
    <div
      class="book label-book blue-book large-book fixed top-210 left-175 animate-anticlockwise"
    >
      <div class="innerbook">
        <div class="book-bar"></div>
        <div class="book-label"></div>
      </div>
    </div>
    <div
      class="book label-book red-book fixed top-210 left-210 animate-anticlockwise"
    >
      <div class="innerbook">
        <div class="book-bar"></div>
        <div class="book-label"></div>
      </div>
    </div>
    <div
      class="book none-label-book green-book small-book fixed top-175 left-210 animate-anticlockwise"
    >
      <div class="innerbook"><div class="book-bar"></div></div>
    </div>
    <div
      class="book none-label-book blue-book middle-book fixed top-245 left-175 animate-anticlockwise"
    >
      <div class="innerbook"><div class="book-bar"></div></div>
    </div>
    <div
      class="book none-label-book red-book large-book fixed top-245 left-210 animate-anticlockwise"
    >
      <div class="innerbook"><div class="book-bar"></div></div>
    </div>
    <div
      class="book none-label-book gray-book fixed top-175 left-245 animate-anticlockwise"
    >
      <div class="book-bar"></div>
    </div>
    <div
      class="book springb fixed top-210 left-140 animate-anticlockwise hover:animate-[anticlockwise_0s_linear_0s_infinite_alternate_backwards,_zoomin-kkaddak-1_0.2s_linear_0.4s_2_normal_backwards]"
    >
      <div class="springbook"></div>
      <div class="book-spring"></div>
      <div class="book-spring"></div>
      <div class="book-spring"></div>
    </div>
    <div
      class="book noteb fixed top-245 left-140 animate-anticlockwise hover:animate-[anticlockwise_0s_linear_0s_infinite_alternate_backwards,_zoomin-kkaddak-2_0.2s_linear_0.4s_2_normal_backwards]"
    >
      <div class="notebook"></div>
      <div class="book-title"></div>
      <div class="book-side"></div>
    </div>
    <div class="flower fixed top-245 left-105 animate-anticlockwise">
      <div class="innerflower">
        <div class="tlcircle"></div>
        <div class="trcircle"></div>
        <div class="blcircle"></div>
        <div class="brcircle"></div>
        <div class="centercircle"></div>
      </div>
    </div>
    <div
      class="stem-leaf yellow-stem-leaf one-leaf fixed top-245 left-35 animate-anticlockwise"
    >
      <div class="innerstem-leaf">
        <div class="leaf"></div>
        <div class="stem-shape stem"></div>
      </div>
    </div>
    <div
      class="stem-leaf green-stem-leaf two-leaf fixed top-245 left-70 animate-anticlockwise"
    >
      <div class="innerstem-leaf">
        <div class="leaf"></div>
        <div class="otherleaf"></div>
        <div class="stem-shape stem"></div>
      </div>
    </div>
  </body>
</html>
