@import 'tailwindcss';

@theme {
  @keyframes tr-br-move {
    0% {
      translate: 0 0;
    }
    50% {
      translate: 50px -50px;
    }
    100% {
      translate: 100px 0;
    }
  }
  @keyframes br-tr-move {
    0% {
      translate: 0 0;
    }
    50% {
      translate: 50px 50px;
    }
    100% {
      translate: 100px 0;
    }
  }
  @keyframes tl-bl-move {
    0% {
      translate: 0 0;
    }
    50% {
      translate: -50px -50px;
    }
    100% {
      translate: -100px 0;
    }
  }
  @keyframes bl-tl-move {
    0% {
      translate: 0 0;
    }
    50% {
      translate: -50px 50px;
    }
    100% {
      translate: -100px 0;
    }
  }
  @keyframes br-bl-move {
    0% {
      translate: 0 0;
    }
    50% {
      translate: 50px 50px;
    }
    100% {
      translate: 0 100px;
    }
  }
  @keyframes bl-br-move {
    0% {
      translate: 0 0;
    }
    50% {
      translate: -50px 50px;
    }
    100% {
      translate: 0 100px;
    }
  }
  @keyframes tr-tl-move {
    0% {
      translate: 0 0;
    }
    50% {
      translate: 50px -50px;
    }
    100% {
      translate: 0 -100px;
    }
  }
  @keyframes tl-tr-move {
    0% {
      translate: 0 0;
    }
    50% {
      translate: -50px -50px;
    }
    100% {
      translate: 0 -100px;
    }
  }
  @keyframes t-move {
    0% {
      translate: 0 0;
    }
    50% {
      translate: 0 -50px;
    }
    100% {
      translate: 0 -100px;
    }
  }
  @keyframes b-move {
    0% {
      translate: 0 0;
    }
    50% {
      translate: 0 50px;
    }
    100% {
      translate: 0 100px;
    }
  }
  @keyframes l-move {
    0% {
      translate: 0 0;
    }
    50% {
      translate: -50px 0;
    }
    100% {
      translate: -100px 0;
    }
  }
  @keyframes r-move {
    0% {
      translate: 0 0;
    }
    50% {
      translate: 50px 0;
    }
    100% {
      translate: 100px 0;
    }
  }
  @keyframes anticlockwise {
    0% {
      rotate: -70deg;
    }
    50% {
      rotate: -40deg;
    }
    100% {
      rotate: -10deg;
    }
  }
  @keyframes anticlockwise2 {
    0% {
      rotate: -30deg;
    }
    50% {
      rotate: 0deg;
    }
    100% {
      rotate: 30deg;
    }
  }
  @keyframes anticlockwise3 {
    0% {
      rotate: -18deg;
    }
    50% {
      rotate: 12deg;
    }
    100% {
      rotate: 42deg;
    }
  }
  @keyframes clockwise {
    0% {
      rotate: 30deg;
    }
    50% {
      rotate: 0deg;
    }
    100% {
      rotate: -30deg;
    }
  }
  @keyframes zoomin-kkaddak-1 {
    50% {
      rotate: 0;
    }
    60% {
      rotate: 10deg;
    }
    70% {
      rotate: 0;
    }
    80% {
      rotate: 10deg;
    }
    90% {
      rotate: 0;
    }
  }
  @keyframes zoomin-kkaddak-2 {
    50% {
      rotate: 0;
    }
    60% {
      rotate: -55deg;
    }
    70% {
      rotate: 0;
    }
    80% {
      rotate: -55deg;
    }
    90% {
      rotate: 0;
    }
  }
  @keyframes one-turn {
    0% {
      rotate: 0;
    }
    100% {
      rotate: 360deg;
    }
  }
  --animate-tr-br-move: tr-br-move 10s linear 0s infinite alternate backwards;
  --animate-br-tr-move: br-tr-move 10s linear 0s infinite alternate backwards;
  --animate-tl-bl-move: tl-bl-move 10s linear 0s infinite alternate backwards;
  --animate-bl-tl-move: bl-tl-move 10s linear 0s infinite alternate backwards;
  --animate-br-bl-move: br-bl-move 10s linear 0s infinite alternate backwards;
  --animate-bl-br-move: bl-br-move 10s linear 0s infinite alternate backwards;
  --animate-tr-tl-move: tr-tl-move 10s linear 0s infinite alternate backwards;
  --animate-tl-tr-move: tl-tr-move 10s linear 0s infinite alternate backwards;
  --animate-t-move: t-move 10s linear 0s infinite alternate backwards;
  --animate-b-move: b-move 10s linear 0s infinite alternate backwards;
  --animate-l-move: l-move 10s linear 0s infinite alternate backwards;
  --animate-r-move: r-move 10s linear 0s infinite alternate backwards;
  --animate-anticlockwise: anticlockwise 10s linear 0s infinite alternate
    backwards;
  --animate-anticlockwise2: anticlockwise2 10s linear 0s infinite alternate
    backwards;
  --animate-anticlockwise3: anticlockwise3 10s linear 0s infinite alternate
    backwards;
  --animate-clockwise: clockwise 10s linear 0s infinite alternate backwards;
  --animate-anticlockwise-delay: anticlockwise 10s linear 2s infinite alternate
    backwards;
  --animate-clockwise-delay: clockwise 10s linear 0s infinite alternate
    backwards;
  --animate-anticlockwise-paused: anticlockwise 0s linear 2s infinite alternate
    backwards;
  --animate-zoomin-kkaddak-1: zoomin-kkaddak-1 1s linear 0s 1 normal backwards;
  --animate-zoomin-kkaddak-2: zoomin-kkaddak-2 1s linear 0s 1 normal backwards;
  --animate-one-turn: one-turn 1s linear 0s 1 normal both;
}

@layer components {
  .circle {
    @apply rounded-full w-[25px] h-[25px];
  }
  .circle.red {
    @apply bg-[#fc615d];
    @apply transition-all duration-2000;
    &:hover {
      @apply bg-[#ffd82a];
      @apply transition-all duration-2000;
    }
  }
  .circle.yellow {
    @apply bg-[#ffd82a];
    @apply transition-all duration-2000;
    &:hover {
      @apply scale-200 bg-[#fc615d];
      @apply transition-all duration-2000;
    }
  }
  .circle.scale {
    @apply transition-all duration-1000;
    &:hover {
      @apply scale-200;
      @apply transition-all duration-1000;
    }
  }

  .cloud {
    @apply grid;

    > * {
      @apply col-span-full row-span-full;
    }
    .left-of-cloud {
      @apply rounded-full rounded-br-none w-[62px] h-[62px];
      @apply translate-y-[40px] translate-x-[-40px];
    }
    .center-of-cloud {
      @apply rounded-t-full w-[102px] h-[102px];
    }
    .right-of-cloud {
      @apply rounded-full rounded-bl-none w-[70px] h-[70px];
      @apply translate-y-[32px] translate-x-[80px];
    }
    .sun-behind-cloud {
      @apply rounded-full w-[25px] h-[25px] bg-[#ffd82a] -z-1;
      @apply translate-y-[22px] translate-x-[70px];
      @apply transition-all duration-2000;
    }
  }
  .cloud.skyblue {
    @apply transition-all duration-1500;
    > [class$='-of-cloud'] {
      @apply bg-[#c2e8ff];
    }
    &:hover {
      @apply scale-150;
      @apply transition-all duration-1500;
      > .sun-behind-cloud {
        @apply scale-150 translate-x-[110px] translate-y-[-18px];
        @apply transition-all duration-1500;
      }
    }
  }
  .cloud.blue {
    @apply rotate-y-180;
    @apply transition-[scale] duration-1500;
    > [class$='-of-cloud'] {
      @apply bg-[#38b4ff];
    }
    &:hover {
      @apply scale-150;
      @apply transition-[scale] duration-1500;
      > .sun-behind-cloud {
        @apply scale-150 translate-x-[110px] translate-y-[-18px];
        @apply transition-all duration-1500;
      }
    }
  }
  .cloud.gray {
    > * {
      @apply bg-[#eceff3];
    }
  }

  .note {
    @apply grid;
    @apply transition-all duration-1500;
    &:hover {
      @apply scale-150;
      @apply transition-all duration-1500;
    }
    > * {
      @apply col-span-full row-span-full;
    }
    .note-stem {
      @apply w-[18px] h-[101px] rounded-full;
    }
    .note-head {
      @apply w-[45px] h-[45px] rounded-full;
      @apply translate-x-[-27px] translate-y-[70px];
    }
    .note-flag {
      @apply w-[60px] h-[25px] rounded-[5px];
      @apply -skew-y-15 -translate-y-[6px];
    }
    .note-stem.side-note {
      @apply translate-x-[70px] -translate-y-[19px];
    }
    .note-head.side-note {
      @apply translate-x-[43px] translate-y-[51px];
    }
  }
  .note.two-eighth {
    .note-flag {
      @apply w-[86px] h-[25px] rounded-[5px] -translate-y-[10px];
    }
  }
  .note.red-note {
    > * {
      @apply bg-[#fc615d];
    }
  }
  .note.purple-note {
    > * {
      @apply bg-[#d78ce6];
    }
  }
  .note.yellow-note {
    > * {
      @apply bg-[#ffcc33];
    }
  }

  .book {
    @apply grid;
    .innerbook {
      @apply grid;
    }
    * {
      @apply col-span-full row-span-full;
    }
    .book-bar {
      @apply w-[37px] h-[112px] rounded-[5px];
    }
    .book-label {
      @apply h-[20px];
      @apply translate-y-[23px];
    }
  }
  .book.small-book {
    .book-bar {
      @apply w-[20px] h-[62px];
    }
    .book-label {
      @apply w-[20px] h-[9px];
      @apply translate-y-[10px];
    }
  }
  .book.middle-book {
    .book-bar {
      @apply w-[20px] h-[72px];
    }
    .book-label {
      @apply w-[20px] h-[9px];
      @apply translate-y-[12px];
    }
  }
  .book.large-book {
    .book-bar {
      @apply w-[47px] h-[166px];
    }
    .book-label {
      @apply h-[28px];
      @apply translate-y-[23px];
    }
  }
  .book.green-book {
    .book-bar {
      @apply bg-[#34cc67];
    }
    .book-label {
      @apply bg-[#71ea96] w-full;
    }
  }
  .book.blue-book {
    .book-bar {
      @apply bg-[#00bfff];
    }
    .book-label {
      @apply bg-[#63d8ff] w-full;
    }
  }
  .book.red-book {
    .book-bar {
      @apply bg-[#fc615d];
    }
    .book-label {
      @apply bg-[#fe9895] w-full;
    }
  }
  .book.gray-book {
    .book-bar {
      @apply bg-[#eceff3];
    }
  }
  .book {
    .innerbook {
      @apply transition-all duration-1500;
      &:hover {
        @apply scale-150 rotate-360;
        @apply transition-all duration-1500 delay-75;
      }
    }
  }
  .book.springb {
    @apply transition-all duration-500;
    &:hover {
      @apply scale-150 rotate-30;
      @apply transition-all duration-300;
    }
    .springbook {
      @apply w-[109px] h-[133px] rounded-[12px] bg-[#34cc67];
    }
    .book-spring {
      @apply w-[30px] h-[19px] rounded-[7px] bg-[#3b6675];
      @apply -translate-x-[11px] nth-2:translate-y-[24px] nth-3:translate-y-[54px] nth-4:translate-y-[84px];
    }
  }
  .book.noteb {
    @apply transition-all duration-500;
    &:hover {
      @apply scale-150 -rotate-30;
      @apply transition-all duration-300;
    }
    .notebook {
      @apply w-[109px] h-[135px] rounded-[12px] bg-[#ffd200];
    }
    .book-title {
      @apply w-[44px] h-[27px] rounded-[8px] bg-[#EDA500];
      @apply translate-x-[43px] translate-y-[32px];
    }
    .book-side {
      @apply w-[24px] h-[135px] rounded-l-[12px] bg-[#EDA500];
    }
  }

  .flower {
    .innerflower {
      @apply grid;
      @apply w-[94px] h-[94px];
      @apply transition-all duration-2000;
      &:hover {
        @apply scale-200 rotate-720;
        @apply transition-all duration-2000 delay-75;
      }
    }
    [class$='circle'] {
      @apply col-span-full row-span-full;
      @apply w-[48px] h-[48px] rounded-full bg-[#FC615D];
    }
    .tlcircle {
      @apply justify-self-start self-start;
    }
    .trcircle {
      @apply justify-self-end self-start;
    }
    .blcircle {
      @apply justify-self-start self-end;
    }
    .brcircle {
      @apply justify-self-end self-end;
    }
    .centercircle {
      @apply w-[36px] h-[36px] bg-[#FFCD00] place-self-center;
    }
  }
  .stem-leaf {
    @apply transition-all duration-2000;
    &:hover {
      @apply scale-200;
      @apply transition-all duration-2000;
    }
    .innerstem-leaf {
      @apply grid;

      > * {
        @apply col-span-full row-span-full;
      }
    }
    .leaf {
      @apply w-[20px] h-[50px] rounded-[100%];
    }
    .otherleaf {
      @apply w-[20px] h-[50px] rounded-[100%] translate-x-[-20px] translate-y-[10px] -rotate-45;
    }
    .stem {
      @apply translate-x-[-41px] translate-y-[20px];
    }
  }
  .stem-leaf.green-stem-leaf {
    .leaf,
    .otherleaf,
    .stem {
      @apply bg-[#34CC67];
    }
  }
  .stem-leaf.yellow-stem-leaf {
    .leaf,
    .otherleaf,
    .stem {
      @apply bg-[#FFCD00];
    }
  }
}

@layer utilities {
  .stem-shape {
    width: 100px;
    height: 130px;
    clip-path: path(
      'M 40 10 A 4 10 0 0 1 40 100 L 41 100 A 130 100 0 0 0 41 10 L 40 10 Z'
    );
  }
}
