<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/public/icons/jrnaver.webp" />
    <link
      rel="preload"
      as="font"
      href="/public/fonts/woff2/NanumSquareRoundB.woff2"
    />
    <link
      rel="preload"
      as="font"
      href="/public/fonts/woff2/NanumSquareRoundEB.woff2"
    />
    <link
      rel="preload"
      as="font"
      href="/public/fonts/woff2/NanumSquareRoundR.woff2"
    />
    <link
      rel="preload"
      as="font"
      href="/public/fonts/woff2/NanumSquareRoundL.woff2"
    />
    <link
      href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/src/components/like-my/like-my.css" />
    <script type="module" src="/src/main.js"></script>
    <title>쥬니어 네이버</title>
  </head>
  <body>


    <div class="like-my-container">
      <div class="like-my-wrap">
        <div class="like-my-contents-wrap">
          
          <div class="like-my-img-container">
            <div class="like-my-img-wrap">
              <img src="/public/images/like-mypage/like-mypage-juni.png" alt="쥬니이미지" />
            </div>
          </div>
    
          <p class="like-my-text">
            seuchoi0531 yebin-jeong sawajirikim InHwanGil say302
          </p>
    
          <img class="like-my-yoso2" src="/public/images/like-mypage/like-mypage-yoso1.png" alt="붓과 네모" />
          <img class="like-my-yoso1" src="/public/images/like-mypage/like-mypage-yoso2.png" alt="크레파스와 자" />
        </div>
        <div class="like-my-line"></div>
      </div>
    </div>



    </div>
  </body>
</html>
