<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/src/main.js"></script>
    <title>character-banner</title>
  </head>
  <body>
    <h1 class="font-bold m-4">character-banner</h1>
    <div class="cha-banners p-4 flex gap-4 min-w-[1240px]">
      <div class="cha-banner bg-chaban-blue">
        <a href="https://mkt.naver.com/p1/jrschool" target="_blank">
          <img
            src="/public/images/banner/character/AI_blue.png"
            alt="쥬니버스쿨 링크"
            class="cha-banner-img"
          />
        </a>
      </div>

      <div class="cha-banner bg-chaban-orange">
        <a href="https://jr.naver.com/story/yearimtv_story" target="_blank">
          <img
            src="/public/images/banner/character/bear_orange.png"
            alt="예림TV(동화) 프로필 링크"
            class="cha-banner-img"
          />
        </a>
      </div>

      <div class="cha-banner bg-chaban-brown">
        <a
          href="https://jr.naver.com/s/juniversong_aud_audio_9/view?contentsNo=190077"
          target="_blank"
        >
          <img
            src="/public/images/banner/character/audio_brown.png"
            alt="쥬니버 가족동요(쥬니버 인기동요) 링크"
            class="cha-banner-img"
          />
        </a>
      </div>

      <div class="cha-banner bg-chaban-pink">
        <a href="https://jr.naver.com/song/kongsunisongsong" target="_blank">
          <img
            src="/public/images/banner/character/kongsuni_pink.png"
            alt="콩순이 동요 프로필 링크"
            class="cha-banner-img"
          />
        </a>
      </div>
    </div>
  </body>
</html>
