<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/src/main.js"></script>
    <title>category-banner</title>
  </head>
  <body>
    <h1 class="font-bold m-4">category-banner</h1>
    <div class="category-list p-4 grid gap-4">
      <div class="category-banner">
        <a
          href="https://jr.naver.com/theme"
          class="category-banner-link bg-(image:--theme-blue-1) cm:bg-(image:--theme-blue-2) lg:bg-(image:--theme-blue-3) xl:bg-(image:--theme-blue-4)"
        ></a>
      </div>

      <div class="category-banner">
        <a
          href="https://jr.naver.com/nuri/nuri_march_3"
          class="category-banner-link bg-(image:--nuri-yellow-1) cm:bg-(image:--nuri-yellow-2) lg:bg-(image:--nuri-yellow-3) xl:bg-(image:--nuri-yellow-4)"
        ></a>
      </div>

      <div class="category-banner">
        <a
          href="https://jr.naver.com/sketchbook/"
          class="category-banner-link bg-(image:--sketch-pink-1) cm:bg-(image:--sketch-pink-2) lg:bg-(image:--sketch-pink-3) xl:bg-(image:--sketch-pink-4)"
        ></a>
      </div>

      <div class="category-banner">
        <a
          href="https://jr.naver.com/introduce/junis"
          class="category-banner-link lg:bg-(image:--junis-3) xl:bg-(image:--junis-4)"
        ></a>
      </div>
    </div>
  </body>
</html>
