<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="icon" href="/vite.svg" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div
      class="w-full ts:w-[310px] lg:w-[284px] h-[240px] rounded-lg bg-(--service-linkcard-main-color) flex items-center justify-center relative"
    >
      <div
        class="bg-(image:--service-linkcard-dino-img) w-[200px] h-[202px] object-fill bg-no-repeat bg-cover absolute pl-[100px] right-16 overflow-hidden"
      ></div>
      <div class="service-text-box font-extrabold text-center">
        <span
          class="text-[23px] text-white font-extrabold pb-[13px] md:text-[21px]"
        >
          서비스 바로가기
        </span>
        <p class="text-sm text-white font-medium pb-[13px] md:text-[12px]">
          다양한 콘텐츠를 즐겨보세요!
        </p>

        <div class="inline-block service-linkcard-btn pr-[11px] pb-[13px]">
          <a
            class="inline-block service-button bg-white w-[103px] h-[37px] rounded-[49px] text-[15px] text-(--service-linkcard-main-color) text-center leading-[37px] md:text-[14px]"
            href="https://mkt.naver.com/p1/jrschool"
            target="_blank"
            >쥬니버스쿨&#62;</a
          >
        </div>

        <div class="@mitest inline-block ml-[-5px]">
          <a
            class="inline-block service-button bg-(--service-linkcard-sub-color2) w-[66px] h-[37px] rounded-[49px] text-[15px] text-(--service-linkcard-main-color) text-center leading-[37px] md:text-[14px]"
            href="https://jr.naver.com/theme"
            target="_blank"
            >테마&#62;</a
          >
        </div>

        <a
          class="flex service-button bg-(--service-linkcard-sub-color2) w-[91px] h-[37px] rounded-[49px] text-[15px] text-(--service-linkcard-main-color) items-center justify-center md:text-[14px]"
          href="https://jr.naver.com/nuri/nuri_march_3"
          target="_blank"
          >누리과정&#62;</a
        >
      </div>
    </div>
  </body>
</html>
