<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>카테고리 딱지</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="flex flex-col gap-5 p-5">
    <h1>카테고리 딱지</h1>
    <hr />

    <h2>카테고리 딱지</h2>
    <div>
      <a href="#" class="ttakji-category"
        ><img
          src="/public/images/ttakji/ttakji-category/category-jaeneungtv.jpg"
          alt=""
          class="ttakji-category-image"
        />
        <div class="ttakji-category-title">재능TV</div></a
      >
    </div>
  </body>
</html>
