<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/src/components/footer/footer.css" /> -->
    <script type="module" src="/src/main.js"></script>
    <title>components-footer</title>
  </head>
  <body class="">
    <!-- 모바일 먼저 -->
    <footer class="footer">
      <div class="footer-content-aria">
        <div class="footer-nav">
          <a href="#" target="_blank" class="inline-block footer-nav-text"
            >공지사항</a
          >
          <span></span>
          <a href="#" target="_blank" class="inline-block footer-nav-text"
            >이용약관</a
          >
          <span></span>
          <a href="#" target="_blank" class="inline-block footer-nav-text"
            >운영원칙</a
          >
          <span></span> <br class="md:hidden" />
          <a
            href="#"
            target="_blank"
            class="inline-block footer-nav-text font-bold"
            >개인정보 처리방침</a
          >
          <span></span>
          <a href="#" target="_blank" class="inline-block footer-nav-text"
            >청소년보호정책</a
          >
          <span></span>
          <a href="#" target="_blank" class="inline-block footer-nav-text"
            >고객센터</a
          >
          <span></span>
          <a href="#" target="_blank" class="inline-block footer-nav-text"
            >제휴제안</a
          >
        </div>
        <div class="footer-copy">&copy; NAVER Connect Foundation</div>
        <div class="footer-copy-sub">
          <p>
            본 콘텐츠의 저작권은 저자 또는 제공처에 있으며,
            <br class="md:hidden" />
            이를 무단 이용하는 경우 저작권등에 따라 법적 책임을 질 수 있습니다.
          </p>
        </div>
        <div class="footer-icon-content desktop:justify-end">
          <div class="qr-app-icon group">
            <div class="qr-image">
              <p class="mb-3.5 font-bold text-[15px]">앱 설치하기</p>
              <div class="w-[110px]">
                <img
                  class=""
                  src="/public/images/footer/img-qr-app.png"
                  alt=""
                />
              </div>
            </div>
            <div class="app-icon">
              <img
                class="md:w-[78px] md:h-[42px]"
                src="/public/images/footer/icon-app.png"
                alt=""
              />
            </div>
          </div>
          <div class="sns-icon">
            <div class="ml-[11px] sns-icon-naver-blog">
              <a href="/"
                ><img
                  class="w-6 md:w-8"
                  src="/public/images/footer/icon-blog.png"
                  alt=""
              /></a>
            </div>
            <div class="ml-[11px] sns-icon-youtube">
              <a href="/"
                ><img
                  class="w-6 md:w-8"
                  src="/public/images/footer/icon-youtube.png"
                  alt=""
              /></a>
            </div>
            <div class="ml-[11px] sns-icon-instagram">
              <a href="/"
                ><img
                  class="w-6 md:w-8"
                  src="/public/images/footer/icon-instagram.png"
                  alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-mobile md:hidden">
        <div class="footer-mobile-content">
          <a href="/">
            <img src="/public/images/footer/footer-dark-design.png" alt="" />
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
