<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/public/icons/jrnaver.webp" />
  <link rel="preload" as="font" href="/public/fonts/woff2/NanumSquareRoundB.woff2" />
  <link rel="preload" as="font" href="/public/fonts/woff2/NanumSquareRoundEB.woff2" />
  <link rel="preload" as="font" href="/public/fonts/woff2/NanumSquareRoundR.woff2" />
  <link rel="preload" as="font" href="/public/fonts/woff2/NanumSquareRoundL.woff2" />
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet" />
  <link rel="stylesheet" href="/src/components/footer/footer.css" />
  <script type="module" src="/src/main.js"></script>
  <title>푸터</title>
</head>
<body class="">
  <!-- 모바일 먼저 -->
  <footer class="footer">
    <section class="footer-content-aria">
      <div class="footer-nav">

        <a href="https://blog.naver.com/PostList.nhn?blogId=jrnaver&from=postList&categoryNo=29"
          aria-label="공지사항으로 이동(새 창)" target="_blank" rel="noopener noreferrer"
          class="inline-block footer-nav-text">공지사항
        </a>

        <span aria-hidden="true"></span>

        <a href="https://jr.naver.com/jrservice" aria-label="이용약관으로 이동(새 창)" target="_blank" rel="noopener noreferrer"
          class="inline-block footer-nav-text">이용약관
        </a>

        <span aria-hidden="true"></span>
        <a href="https://jr.naver.com/jrservice#OPERATION_POLICY" aria-label="운영원칙으로 이동(새 창)" target="_blank"
          rel="noopener noreferrer" class="inline-block footer-nav-text">운영원칙
        </a>

        <span aria-hidden="true"></span> <br class="md:hidden" />

        <a href="https://jr.naver.com/jrservice" aria-label="개인정보 처리방침으로 이동(새 창)" target="_blank"
          rel="noopener noreferrer" class="inline-block footer-nav-text font-bold">개인정보 처리방침
        </a>

        <span aria-hidden="true"></span>

        <a href="https://jr.naver.com/jrservice" aria-label="청소년보호정책으로 이동(새 창)" target="_blank"
          rel="noopener noreferrer" class="inline-block footer-nav-text">청소년보호정책
        </a>

        <span aria-hidden="true"></span>

        <a href="https://help.naver.com/service/5636/category/bookmark?lang=ko" aria-label="고객센터로 이동(새 창)"
          target="_blank" rel="noopener noreferrer" class="inline-block footer-nav-text">고객센터
        </a>

        <span aria-hidden="true"></span>

        <a href="https://www.navercorp.com/naver/proposalGuide" aria-label="제휴제안으로 이동(새 창)" target="_blank"
          rel="noopener noreferrer" class="inline-block footer-nav-text">제휴제안
        </a>

      </div>
      <div class="footer-copy">&copy; NAVER Connect Foundation</div>
      <div class="footer-copy-sub">
        <p class="footer-text block md:inline">
          본 콘텐츠의 저작권은 저자 또는 제공처에 있으며,
        </p>
        <p class="footer-text block md:inline">
          이를 무단 이용하는 경우 저작권등에 따라 법적 책임을 질 수 있습니다.
        </p>
      </div>
      <div class="footer-icon-content desktop:justify-end">
        <div class="qr-app-icon group">
          <div class="qr-image">
            <p class="mb-3.5 font-bold text-[15px]">앱 설치하기</p>
            <div class="w-[110px]">
              <img class="" src="/public/images/footer/img-qr-app.png" alt="앱 설치 QR 코드" />
            </div>
          </div>
          <div class="app-icon">
            <img class="md:w-[78px] md:h-[42px]" src="/public/images/footer/icon-app.png" alt="앱 다운로드 아이콘" />
          </div>
        </div>
        <ul class="sns-icon">
          <li class="ml-[11px] sns-icon-naver-blog">
            <a href="https://blog.naver.com/PostList.nhn?blogId=jrnaver" rel="noopener noreferrer" target="_blank"
              aria-label="쥬니버 네이버 블로그로 이동(새 창)"><img class="w-6 md:w-8" src="/public/images/footer/icon-blog.png"
                alt="네이버 블로그 아이콘" /></a>
          </li>
          <li class="ml-[11px] sns-icon-youtube">
            <a href="https://www.youtube.com/channel/UCAqJaUnVgAAeW0RDblGeY3w" rel="noopener noreferrer" target="_blank"
              aria-label="쥬니버 유튜브 이동(새 창)"><img class="w-6 md:w-8" src="/public/images/footer/icon-youtube.png"
                alt="유튜브 아이콘" /></a>
          </li>
          <li class="ml-[11px] sns-icon-instagram">
            <a href="https://www.instagram.com/juniver_official/#" rel="noopener noreferrer" target="_blank"
              aria-label="쥬니버 유튜브 이동(새 창)"><img class="w-6 md:w-8" src="/public/images/footer/icon-instagram.png"
                alt="인스타그램 아이콘" /></a>
          </li>
        </ul>
      </div>
    </section>
    <div class="footer-mobile md:hidden">
      <div class="footer-mobile-content">
        <a href="https://jr.naver.com/" rel="noopener noreferrer" target="_blank" aria-label="쥬니버 홈페이지 이동(새 창)">
          <img src="/public/images/footer/footer-dark-design.png" alt="" aria-hidden="true" />
        </a>
      </div>
    </div>
  </footer>
</body>
</html>