<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/public/icons/jrnaver.webp" />
    <link
      rel="preload"
      as="font"
      href="/public/fonts/woff2/NanumSquareRoundB.woff2"
    />
    <link
      rel="preload"
      as="font"
      href="/public/fonts/woff2/NanumSquareRoundEB.woff2"
    />
    <link
      rel="preload"
      as="font"
      href="/public/fonts/woff2/NanumSquareRoundR.woff2"
    />
    <link
      rel="preload"
      as="font"
      href="/public/fonts/woff2/NanumSquareRoundL.woff2"
    />
    <link
      rel="stylesheet"
      href="/src/components/banner-layout/banner-layout.css"
    />
    <script type="module" src="/src/main.js"></script>
    <title>4조</title>
  </head>
  <body>
    <p>홈 배너 레이아웃</p>
    <ul class="main-banner-container">
      <li class="main-banner-contents1">1</li>
      <li class="main-banner-contents2">2</li>
      <li class="main-banner-contents3">3</li>
    </ul>

    <p>캐릭터 배너</p>
    <div class="character-banner-container">
      <ul class="character-banner-wrap">
        <li class="character-banner-contents1">1</li>
        <li class="character-banner-contents2">2</li>
        <li class="character-banner-contents3">3</li>
      </ul>
    </div>

    <p>카테고리1</p>
    <ul class="category1-container">
      <li class="category1-contents1">1</li>
      <li class="category1-contents2">2</li>
    </ul>

    <p>카테고리2</p>
    <ul class="category2-container">
      <li class="category2-contents1">1</li>
      <li class="category2-contents2">2</li>
    </ul>
  </body>
</html>
