<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/public/icons/jrnaver.webp" />
    <link
      rel="preload"
      as="font"
      href="/public/fonts/woff2/NanumSquareRoundB.woff2"
    />
    <link
      rel="preload"
      as="font"
      href="/public/fonts/woff2/NanumSquareRoundEB.woff2"
    />
    <link
      rel="preload"
      as="font"
      href="/public/fonts/woff2/NanumSquareRoundR.woff2"
    />
    <link
      rel="preload"
      as="font"
      href="/public/fonts/woff2/NanumSquareRoundL.woff2"
    />
    <link
      href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css"
      rel="stylesheet"
    />
    <script type="module" src="/src/main.js"></script>
    <title>쥬니어 네이버</title>
  </head>
  <body>
    <h1 class="font-bold mb-5">네모딱지 레이아웃</h1>

    <div class="flex justify-center">
      <section class="category-section" aria-labelledby="categoryTitle">
        <h2 id="categoryTitle" class="category-wrap-title bg-green-200">
          <a
            href="https://m.jr.naver.com/song/populars_song"
            target="_blank"
            class="title-link"
            aria-label="동요(전체) 페이지로 이동"
            rel="noopener noreferrer"
            >동요</a
          >
          <a
            href="https://jr.naver.com/song/populars_song"
            target="_blank"
            class="arrow-link"
            aria-label="동요(전체) 페이지로 이동"
            rel="noopener noreferrer"
          >
            <span class="hover-text">전체</span>
          </a>
        </h2>
        <ul class="square-list bg-blue-100">
          <li class="square-ttakji" tabindex="0"></li>
          <li class="square-ttakji" tabindex="0"></li>
          <li class="square-ttakji" tabindex="0"></li>
          <li class="square-ttakji" tabindex="0"></li>
          <li class="square-ttakji" tabindex="0"></li>
          <li class="square-ttakji" tabindex="0"></li>
          <li class="square-ttakji" tabindex="0"></li>
          <li class="square-ttakji" tabindex="0"></li>
          <li class="square-ttakji" tabindex="0"></li>
          <li class="square-ttakji" tabindex="0"></li>
        </ul>
      </section>
    </div>
  </body>
</html>
