@import 'tailwindcss';

@theme {
  /* 서비스 바로가기 색상 */
  --service-linkcard-main-color: #3d75de;
  --service-linkcard-sub-color2: #e7faff;
  --service-linkcard-sub-color3: #4584fc;

  /* 커스텀 breakpoint */
  --breakpoint-ts: 41.6875rem;

  --service-linkcard-dino-img: url(/images/dino-image2.png);
}
