<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/public/icons/jrnaver.webp" />
    <link
      rel="preload"
      as="font"
      href="/public/fonts/woff2/NanumSquareRoundB.woff2"
    />
    <link
      rel="preload"
      as="font"
      href="/public/fonts/woff2/NanumSquareRoundEB.woff2"
    />
    <link
      rel="preload"
      as="font"
      href="/public/fonts/woff2/NanumSquareRoundR.woff2"
    />
    <link
      rel="preload"
      as="font"
      href="/public/fonts/woff2/NanumSquareRoundL.woff2"
    />
    <link
      href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/src/components/nav/nav.css" />
    <script type="module" src="/src/main.js"></script>
    <title>쥬니어 네이버</title>
  </head>
  <body class="p-10">
    <h1 class="text-3xl font-sans-b">네비게이션 메뉴</h1>

    <hr class="my-4"/>

    <ul class="jr-naver-nav">
      <li class="jr-naver-nav-menu main-menu">
        <a class="nav-link-block" href="#" target="_blank">
          <div class="nav-svg-box lg:w-[50px] xl:w-[56px]">
            <img class="w-full" src="/public/images/nav/main-icon.svg" alt="" />
          </div>
          <p class="nav-menu-text">추천</p>
          <div class="nav-hover-line"></div> 
        </a>
        <div class="nav-hover-small">
          <img class="small-green" src="/public/images/nav/small-circle-green.svg" alt="" />
          <img class="small-red" src="/public/images/nav/small-circle-red.svg" alt="" />
          <img class="small-yellow" src="/public/images/nav/small-star-yellow.svg" alt="" />
          <img class="small-blue" src="/public/images/nav/small-star-blue.svg" alt="" />
        </div>
      </li>
      <li class="jr-naver-nav-menu character-menu">
        <a class="nav-link-block" href="#" target="_blank">
          <div class="nav-svg-box lg:w-[50px] xl:w-[56px]">
            <img class="w-full" src="/public/images/nav/character-icon.svg" alt="" />
          </div>
          <p class="nav-menu-text">캐릭터</p>
          <div class="nav-hover-line"></div> 
        </a>
        <div class="nav-hover-small">
          <img class="small-green" src="/public/images/nav/small-circle-green.svg" alt="" />
          <img class="small-red" src="/public/images/nav/small-circle-red.svg" alt="" />
          <img class="small-yellow" src="/public/images/nav/small-star-yellow.svg" alt="" />
          <img class="small-blue" src="/public/images/nav/small-star-blue.svg" alt="" />
        </div>
      </li>
      <li class="jr-naver-nav-menu category-menu">
        <a class="nav-link-block" href="#" target="_blank">
          <div class="nav-svg-box lg:w-[50px] xl:w-[56px]">
            <img class="w-full" src="/public/images/nav/category-icon.svg" alt="" />
          </div>
          <p class="nav-menu-text">카테고리</p>
          <div class="nav-hover-line"></div> 
        </a>
        <div class="nav-hover-small">
          <img class="small-green" src="/public/images/nav/small-circle-green.svg" alt="" />
          <img class="small-red" src="/public/images/nav/small-circle-red.svg" alt="" />
          <img class="small-yellow" src="/public/images/nav/small-star-yellow.svg" alt="" />
          <img class="small-blue" src="/public/images/nav/small-star-blue.svg" alt="" />
        </div>
      </li>
      <li class="jr-naver-nav-menu bookmark-menu">
        <a class="nav-link-block" href="#" target="_blank">
          <div class="nav-svg-box lg:w-[50px] xl:w-[56px]">
            <img class="w-full" src="/public/images/nav/heart-icon.svg" alt="" />
          </div>
          <p class="nav-menu-text">즐겨찾기</p>
          <div class="nav-hover-line"></div> 
        </a>
        <div class="nav-hover-small">
          <img class="small-green" src="/public/images/nav/small-circle-green.svg" alt="" />
          <img class="small-red" src="/public/images/nav/small-circle-red.svg" alt="" />
          <img class="small-yellow" src="/public/images/nav/small-star-yellow.svg" alt="" />
          <img class="small-blue" src="/public/images/nav/small-star-blue.svg" alt="" />
        </div>
      </li>
    </ul>



  </body>
</html>
