<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/public/icons/jrnaver.webp" />
    <link
      rel="preload"
      as="font"
      href="/public/fonts/woff2/NanumSquareRoundB.woff2"
    />
    <link
      rel="preload"
      as="font"
      href="/public/fonts/woff2/NanumSquareRoundEB.woff2"
    />
    <link
      rel="preload"
      as="font"
      href="/public/fonts/woff2/NanumSquareRoundR.woff2"
    />
    <link
      rel="preload"
      as="font"
      href="/public/fonts/woff2/NanumSquareRoundL.woff2"
    />
    <link rel="stylesheet" href="/src/components/banner-layout/banner-layout.css" />
    <script type="module" src="/src/main.js"></script>
    <title>링크카드</title>
  <body>


    <!-- 테마 (동요: 바른 마음,좋은 습관!) 전체부모 -->
    <div
      class="dongyo-container relative aspect-[3/2] min-h-[220px] max-h-[406px] w-full ts:w-[357px] lg:w-[244px] rounded-lg z-0 bg-(--service-linkcard-sub-color11) overflow-hidden"
    >
      <!-- 배경 영역 링크 -->
      <a
        href="https://jr.naver.com/t/living_song/view?contentsNo=106597"
        class="absolute inset-0 z-50"
        aria-label="동요 테마 이동"
      ></a>

      <!-- 이미지영역 -->
      <div
        class="absolute bottom-0 w-full h-[46%] z-20 text-white bg-(image:--service-linkcard-dongyo-yoso)"
      >
        <!-- 아이콘 및 텍스트 영역 -->
        <div class="absolute bottom-4 left-3">
          <a
            href="https://jr.naver.com/t/living_song/view?contentsNo=106597"
            class="flex items-center rounded-md w-max"
          >
            <!-- 플레이 아이콘 -->
            <img
              class="w-4 pr-"
              src="/public/images/linkcard/dongyo-yoso-icon.png"
              alt="플레이 아이콘"
            />
            <p class="pr-2">13</p>

            <!-- 시간 아이콘 -->
            <img
              class="w-4"
              src="/public/images/linkcard/dongyo-yoso-icon2.png"
              alt="시간 아이콘"
            />
            <p>17분</p>
          </a>
        </div>

        <strong class="absolute bottom-10 left-3"
          >바른마음, 좋은 습관! 노래로 배워요</strong
        >
      </div>

      <!-- 테마 바로가기 버튼 -->
      <a
        class="block bg-(--service-linkcard-sub-color10) rounded-[49px] leading-[37px] text-[15px] text-white font-extrabold absolute top-3 left-3 z-30"
        target="_blank"
        href="/"
        aria-label="테마 바로가기 이동"
      > 
        테마&#62;
      </a>

      <!-- 테마 이미지 -->
      <img
        class="h-full block object-cover lg:object-contain z-[-1]"
        src="/public/images/linkcard/dongyo-bg.png"
        alt="어린이 이미지"
      />
    </div>







      
  </body>
</html>
