<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/src/main.js"></script>
    <title>home-banner</title>
  </head>
  <body>
    <h1 class="font-bold m-4">home-banner</h1>
    <div class="home-banners p-4 flex gap-4 flex-wrap">
      <div
        class="home-banner relative bg-banner-blue md:rounded-[12px] h-[102px] w-full"
      >
        <a href="https://m.jr.naver.com/song/juniversong" target="_blank">
          <img
            class="home-banner-img w-[374px] h-[112px] object-contain absolute bottom-0 left-1/2 -translate-x-1/2"
            src="/public/images/banner/home/blue.png"
            alt="home-banner-link"
        /></a>
      </div>

      <div
        class="home-banner relative bg-banner-pink md:rounded-[12px] h-[102px] w-full"
      >
        <a
          href="https://play.google.com/store/apps/details?id=air.com.nhncorp.jrapp"
          target="_blank"
        >
          <img
            class="home-banner-img w-[374px] h-[112px] object-contain absolute bottom-0 left-1/2 -translate-x-1/2"
            src="/public/images/banner/home/pink.png"
            alt="home-banner-link"
        /></a>
      </div>

      <div
        class="home-banner relative bg-banner-yellow md:rounded-[12px] h-[102px] w-full"
      >
        <a href="https://m.jr.naver.com/playedu/jrlife" target="_blank">
          <img
            class="home-banner-img w-[374px] h-[112px] object-contain absolute bottom-0 left-1/2 -translate-x-1/2"
            src="/public/images/banner/home/yellow.png"
            alt="home-banner-link"
        /></a>
      </div>

      <div
        class="home-banner relative bg-banner-green md:rounded-[12px] h-[102px] w-full"
      >
        <a href="https://mkt.naver.com/p1/jrschool" target="_blank">
          <img
            class="home-banner-img w-[374px] h-[112px] object-contain absolute bottom-0 left-1/2 -translate-x-1/2"
            src="/public/images/banner/home/green.png"
            alt="home-banner-link"
        /></a>
      </div>
    </div>
  </body>
</html>
